build/bin
node_modules
frontend/dist

# Logs
logs
log
*.log
*.logs

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
*.local

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#lockfile
package-lock.json
pnpm-lock.yaml
/test-results/
/playwright-report/
/playwright/.cache/

# local
_logs
config*.yaml
.env
/work
/resources/node.tar.xz
/resources/template/node_modules.tar.gz